<div class="widget linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="https://github.com/hexojs/hexo/wiki/Themes" target="_blank" title="hexo主题">hexo主题</a></li>
      <li><a href="http://hexo.io" target="_blank" title="Hexo官网>Hexo</a></li>
    </ul>
</div>