*
  scrollbar-arrow-color rgb(200,200,200)
  scrollbar-3dlight-color rgb(200,200,200)
  scrollbar-highlight-color rgb(200,200,200)
  scrollbar-shadow-color rgb(200,200,200)
  scrollbar-darkshadow-color rgb(200,200,200)
  scrollbar-face-color rgb(200,200,200)
  scrollbar-track-color rgb(240,240,240)

::-webkit-scrollbar
  width 10px
  height 10px

::-webkit-scrollbar-button
  display none

::-webkit-scrollbar-track
  display none

::-webkit-scrollbar-track-piece
  background rgb(240,240,240)

::-webkit-scrollbar-thumb
  background rgb(200,200,200)
  &:hover
    background rgb(180,180,180)

::-webkit-scrollbar-corner
  background rgb(200,200,200)

::-webkit-scrollbar-resizer
  background rgb(200,200,200)
